$naranjaPrincipal: #F8961E; // 1 
$gris: #637081; 
$grisClaro: #e5e5e5;
$blanco: #fcfcfc;
$fuentePrincipal: 'Quicksand', sans-serif;
$verde: #aacc00; // 3 
$rojo: #d62828; // 4 
$celeste: #00b4d8; // 5 
$azul : #03045e; // 6 
$amarillo: #fcbf49; // 7 
$violeta: #9e0059; // 8
$rosa: #ff5d8f // 2